#btn-login{
    background-color: #f4891f;
}

#btn-login:hover{
    background-color: #8a378d;
}

.menu-toggle{
    height: 48px;
    width: 48px;
    opacity: 0;
    height: 30px;
    width: 30px;
    position:absolute;
    right: 15px;
    top: -52px;
}

.menu-toggle>img{
    height: 30px;
    width: 30px;
    position:absolute;
    right: 15px;
    cursor: pointer;
}

.menu-toggle>img:hover{
    transform: scale(1.2);
}

