#btn-login{
    background-color: #f4891f;
}

#btn-login:hover{
    background-color: #8a378d;
}

.menu-toggle{
    height:40px;
    width: 40px;
    position: absolute;
    right: 15px; 
    top: 24px;
    cursor: pointer;
    opacity: 0;
    
}

.menu-toggle>img{
    height:40px;
    width: 40px;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.menu-toggle>img:hover{
    height:40px;
    width: 40px;
    transform: scale(1.1);

}

.item-menu-responsive{
    /* para os itens ficarem ocultos */
    visibility: hidden;
}

