/* quando a tela for menor do que 550px */


@media only screen and (max-width:550px){

   body{
       /* display encaixar todo na tela, não ficar nada pra fora */
       overflow-x: hidden;
   }

    #brand{
        margin-left: 15px;
    }

    #btn-bag, #btn-login{
        display: none;
    }

    #picture >img{
        position: absolute;
        left: 0;
        top:0;
        z-index: -1;
        opacity: 0.3;
    }

    #navigation{
        position:absolute;
        width: 100%;
        height: calc(100vh -80px);
        background-color:#6c72f3;
        left: -100%;
        z-index: 10;
        top: 80px;
        transition: all .4s ease;
        -webkit-transition: all .5s ease;
    }

    #navigation> ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #navigation> ul>li{
        padding: 30px 0;
    }

    #navigation> ul>li>a{
        color:white;
        font-size: 17px;
        font-weight: 100;
        padding: 25px;  
    }

    #navigation> ul>li>a:hover{
        color:#f4891f;
        border: none;
    }

    .menu-toggle{
        opacity: 1;
    }

    /* fazer a nagetação menu ir para a tela  */
    #navigation.active{
        left: 0;
        transition: all .5s ease;
        -webkit-transition: all .5s ease;
    }

    .item-menu-responsive{
    visibility: visible;
    }

    footer{
    color: #ffff;
    padding-left: 70px;
    }

}   

